<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/home.css">
   
    <title>Social media clone</title>
</head>
<body>
    <header>
        <div class="Logo-title"> ENG@GE! </div>
        <div class="motto"> the twitter clone done by Jean Bosco Ntwari</div>
    </header>
    <div class='nav-bar'>
        <div class="left-nav nav-item">Eng@ge</div>

        <div class="Login nav-item"> <a href="timeline.html">Timeline</a> </div>
        <div class="Sign UP nav-item" style="background-color:  rgb(104, 19, 4);"> <a href="#"> My profile </a> </div>
        <div class="Sign UP nav-item"> <a href="#" id="logout"> Logout </a> </div>
    </div>
    <div> <h1>My profile</h1></div>
    <div class="main">

        <div class="left">
            <div class="profile-image"><img src="../img/IMG_20190531_114129041~2.jpg" alt=""></div>
            <div class="left-item"><span>Name</span> <span id="account-name"></span></div>
            <div class="left-item"><span>Handle</span> <span id="account-username"></span></div>
            <div class="left-item"><span>Followers Count</span> <span>300</span></div>
        </div>


<!-- --------------------------Middle content------------------------------------------- -->
        <div class="middle">
           <div class="activity"> <h3>Activity</h3></div>
           <div class="middle-subtitle">
               <div class="middle-title">Tweets and reply</div>
               <div class="Followers"> Followers</div>
           </div> 

           
           <div class="middle-content">
               <div class="tweet">
                    <div class="poster-image"><img src="../img/IMG_20190531_114129041~2.jpg" alt=""></div>                  
                    <div class="tweet-content">
                        <div class="tweet-author"> <span style="font-weight: bold;"> Jean Bosco Ntwari </span> <span> @jntwari</span> </div>
                        <div>Ejo Nariye ibijumba byinshi cyane ndahaga kabsa!!!</div>
                    </div>
               </div>

               <div class="tweet">
                    <div class="poster-image"><img src="../img/IMG_20190531_114129041~2.jpg" alt=""></div>  
                    <div>
                        <div>Jean Bosco Ntwari @jntwari</div>
                        <div>Ejo Nariye ibijumba byinshi cyane ndahaga kabsa!!!</div>
                    </div>
                </div>

                <div class="tweet">
                    <!-- <div><img src="../img/IMG_20190531_114129041~2.jpg" alt=""></div> -->
                    <div>
                        <div>Jean Bosco Ntwari @jntwari</div>
                        <div>Ejo Nariye ibijumba byinshi cyane ndahaga kabsa!!!</div>
                    </div>
                </div>
           </div>

        </div>

        <!-- ---------------------------------Right content------------------------------------------------- -->

        <div class="right">
            <div style="font-size: larger; padding: 10px;">Who to watch</div>
           
            <div class="to-watch">
                <div class="to-watch-title">THe english premier League</div>
                <div class="to-watch-info">@The UCL 32222, followers</div>
            </div>

            <div class="to-watch">
                <div class="to-watch-title">THe english premier League</div>
                <div class="to-watch-info">@The UCL 32222, followers</div>
            </div>

            <div class="to-watch">
                <div class="to-watch-title">THe english premier League</div>
                <div class="to-watch-info"><span>@The UCL </span> <span> 32222 followers</span> </div>
            </div>
        </div>
    </div>

    <div>
        Copyright 2021 BoccoG
    </div>



</body>
</html>
<script src="../src/node_modules/axios/dist/axios.min.js"></script>
<script src="../src/auth.js"></script>
<script src='../src/home.js'></script>